﻿<div ng-app="agl.module" class="container-fluid">
    <div ng-controller="homeCtrl" class="well row">

        <div class="col-md-6">
            <h2>AGL Code Challenge</h2>

            <form name="homeForm">
                <div class="form-group">
                    <label for="pet">Pet</label>
                    <input type="text" name="pet" ng-model="data.pet" ng-required="true" class="form-control" id="pet" placeholder="Please type in a pet type (vat, dog, fish...etc)">
                    <br>
                    <p class="alert-danger" ng-if="homeForm.pet.$invalid">Pet type is required!</p>
                </div>
                <button ng-click="reset()" class="btn btn-primary" ng-disabled="!homeForm.$valid">RESET</button>
            </form>

        </div>

        <div ng-if="result.data">
            <div class="col-md-6 well" id="homelist">
                <ul ng-repeat="item in result.data">
                    <li class="text-info">
                        <strong>{{item[0].gender | camelCase}}</strong>
                        <ul>
                            <li ng-repeat="i in item" class="text-success">{{i.name}}</li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>